<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>RAIL | Namal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/owl.transitions.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/lightbox.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/preloader.css">
		<link rel="stylesheet" href="css/image.css">
		<link rel="stylesheet" href="css/icon.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css">?
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		

	</head>
	<body id="top">
	

        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body"><img src="img/Namal_1.png" height="100" width="330" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top"><h3>Home</h3></a></li>

                        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><h3>Applications</h3>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="meramaweshi"><h4>Mera Maweshi</h4></a></li>
        </ul>
      </li>

                        <li><a href="#project"><h3>Funded Project</h3></a></li>
                        <li><a href="#blog"><h3>Team</h3></a></li>
                        <li><a href="#collaboration"><h3>Collaboration</h3></a></li>
						<li><a href="#contact"><h3>Contact</h3></a></li>
                        
                    </ul>
					
                </nav>
				<!-- /main nav -->
				
				
            </div>
        </header>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% HOME SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		

	<div class="wrapper">
		<section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
						<h1>Rural and Agriculture Informatics Lab</h1>
							
							
														<h2>
Welcome to the Rural and Agriculture Informatics Lab (RAIL) at Namal College, Mianwali, Pakistan. This lab aims to provide easy 
to use solutions to the current problems of Agriculture and Livestock & Dairy sectors of Pakistan. In particular, we focus on 
mobile applications, web applications, machine learning algorithms and data analytic in e-agriculture. Team of young and enthusiast
IT professional are working under the supervision of highly qualified professors to bring the digital revolution in the agriculture
sector. Namal College is also collaborating with Lahore University of Management Sciences (LUMS) and government departments to bring
 socio  economic change in backward region of Pakistan. </h2>


							<br>
							<br>
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
	            <a id="scroll" href="#project" class="scroll"></a>
	        </div>
		</section>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%FUNDED PROJECT SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		

<section id="project">
<div class="container">
				<div class="row">
					<div class="title">
						<h2>Funded Project</h2>
					</div>
					
					<div class="project-block text-center">						
                                            <h4 class="wow fadeInUp" data-wow-delay=".3s">
                                                <strong>                       
                                                    
                                                    
               Intelligent Disease Diagnosis System for Livestock in Rural Pakistan</strong></h4>
					</div>
                                    
					
					<div class="block">
                                            An online disease diagnostic system for the livestock of rural areas' farmers.
The project is confined to four types of animals commonly owned in rural areas: cows, buffaloes, goats and sheep. 
The product is capable of running as a stand-alone application on computers as well on
android devices. The  possible disease prediction is done through the selection of apparent unusual symptoms, found in the animal, 
on an easy to use localized interface. 

					</div>
                                  
					
					<br>
					<br>
					
					
					
					<div class="col col-md-6">

						  <div class="media-left">

						  <ul style="list-style-type:disc" class="text-left">
									<li><b>Funding Agency:</b> <i>Ignite National Technology Fund</i></li>
  									<li><b>Grant:</b> <i>PKR 4.4 million</i></li>
  								 	<li><b>Duration:</b> <i>12 months</i></li>
  									<li><b>Collaborators:</b> <i>Dr. Mian Muhammad Awais (LUMS), District Livestock Office, Mianwali</i></li>
  									<!--<li><b>Executive Summary:</b> <a href="img/Executive-Summary.pdf" target="_blank"><i>Click here to download</i><br></a></li>-->
							</ul>
							
						  </div>


					</div>
					
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-justify">
						    
						    	<img src="img/Ignite1.png"  height="130" width="220"  style="float: right; margin-left: 50px; margin-bottom: 70px;" alt="">
<!--  						      <img src="img/NamalLogo.png" height="130" width="150" style="float: right;" alt=""> -->
						     
						    
						  </div>
						</div>
					</div>
						
				</div>
			</div>		
		
		
		
		
			
		</section>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% TEAM SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->				
	
		

		<section id="blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Team</h2>
							
						</div>
						<div id="blog-post">
							<div>
								<div class="block">
								<div class="image">
									<img src="img/dr-jahan.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Dr. Malik Jahan Khan </h4>
											Principal Investigator<br>
											Dean/Associate Professor <br>
											CS, Namal College Mianwali<br>
<!-- 											Namal College Mianwali <br> -->
											PhD (LUMS)
											<div class="smallimgs">
											<a href="mailto:malik.jahan@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
											<a href="https://www.namal.edu.pk/namal-faculty/dr-malik-jahan-khan/" target="_blank">
											<img src="img/website.png" alt="Profile"></a>
											</div>
									</div>
								</div>
							</div>
							
							<div>
								<div class="block">
								<div class="image">
									<img src="img/dr-awais.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Dr. Mian Muhammad Awais</h4>
											Co-Principal Investigator<br>
											Professor <br>
											CS, SBASSE, LUMS <br>
<!-- 											Lahore University of Management Sciences  -->
											PhD (Imperial College, University of London)
											<div class="smallimgs">
											<a href="mailto:malik.jahan@namal.edu.pk">
											<img src="img/email.png" alt="Email Address"></a>
											<a href="https://lums.edu.pk/lums_employee/516" target="_blank">
											<img src="img/website.png" alt="Profile"></a>
											</div>
									</div>
								</div>
							</div>
							
							<div>
								<div class="block">
								<div class="image">
									<img src="img/habiba.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Habiba Saim</h4>
											Team Lead<br>
											CS, Namal College Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											MSCS (LUMS)
											<div class="smallimgs">
											<a href="mailto:habiba.saim@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
											</div>
											
									</div>
								</div>
							</div>
							
							<div>
								<div class="block">
								<div class="image">
									<img src="img/toseef.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Muhammad Toseef</h4>
											Senior Software Engineer<br>
											
											CS, Namal College Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											BESE (Namal College)
											<div class="smallimgs">
											<a href="mailto:mtoseef@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>
							
							<div>
								<div class="block">
								<div class="image">
									<img src="img/hammad.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Muhammad Hammad</h4>
											Research Assistant<br>
											CS, Namal College Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											BSCS (Namal College)
											<div class="smallimgs">
											<a href="mailto:mhammad@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>
                                                    

							<div>
								<div class="block">
								<div class="image">
									<img src="img/hammadjr.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Muhammad Hammad Bashir</h4>
											Research Assistant<br>
											CS, Namal University  Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											BSCS (Namal University)
											<div class="smallimgs">
											<a href="mailto:hammad.bashir@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="block">
								<div class="image">
									<img src="img/ameer.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Ameer Abdullah</h4>
											Student Researcher<br>
											CS, Namal College Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											BSCS (Namal College)
											<div class="smallimgs">
											<a href="mailto:ameer2014@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>


							<div>
								<div class="block">
								<div class="image">
									<img src="img/najaf.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Najaf Khan</h4>
											Student Researcher<br>
											CS, Namal College Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											BSCS (Namal College)
											<div class="smallimgs">
											<a href="mailto:najaf2014@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>

							<div>
								<div class="block">
								<div class="image">
									<img src="img/sanaullah.JPG" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Sanaullah Khan</h4>
											Student Researcher<br>
											CS, Namal College Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											BSCS (Namal College)
											<div class="smallimgs">
											<a href="mailto:sana2014@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>

							<div>
								<div class="block">
								<div class="image">
									<img src="img/tayyab.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Muhammad Tayyab</h4>
											Student Researcher<br>
											CS, Namal College Mianwali <br> <br>
											<!-- Namal College Mianwali --> 
											BSCS (Namal College)
											<div class="smallimgs">
											<a href="mailto:tayyab2014@namal.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>

							<div>
								<div class="block">
								<div class="image">
									<img src="img/shahid.jpg" alt="" class="img-responsive">
									</div>
									<div class="content">
										<h4>Muhammad Shahid</h4>
											Student Researcher<br>
											CS, LUMS <br> <br>
											<!-- Namal College Mianwali --> 
											MSCS (LUMS)
											<div class="smallimgs">
											<a href="mailto:16030029@lums.edu.pk" title="Email Address">
											<img src="img/email.png" alt="Email Address"></a>
										<br>
										</div>
									</div>
								</div>
							</div>
							
							
						</div>		
					</div>
				</div>
			</div>
		</section>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% COLLABORATIONS SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->


		<section id="collaboration">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>Collaborations</h2>
					</div>
					
					<div class="col col-md-3">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <div class="coll-image">
						    <a href="http://www.livestockpunjab.gov.pk/" title="Livestock & Dairy Development Department Punjab" target="_blank">
						      <img src="img/LDD.png"  alt=""></a><br><br>
						     </div>
						  
						  </div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">

						      <a href="https://ignite.org.pk/" title="Ignite" target="_blank">
						      <img src="img/Ignite1.png" alt="" height="150" width="170"></a><br><br>
						     	
						    
						  </div>
						</div>
					</div>
						<div class="col col-md-3">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						  	<a href="https://lums.edu.pk/" title="LUMS" target="_blank">
						      <img src="img/LUMS.png" alt="" height="150"></a><br><br>


						  </div>
						</div>
					</div>
					<div class="col col-md-3">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						  <a href="http://www.uvas.edu.pk/index.php" title="University of Veterinary and Animal Sciences, Lahore" target="_blank">
						      <img src="img/UVASLogo.jpg" alt="" height="150"></a><br><br>


						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% CONTACT SECTION %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
		<section id="contact">
				 <div class="container">
				 <div class="title">
						<h2>Contact</h2>
					</div>
						<div class="text-center">
					<div class="col-md-12">
						<div class="block">
						 <form>
          				  <!-- <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend> -->
            <address>            
                <font size="5" style="font-family:verdana;"><strong>Rural and Agriculture Informatics Lab (RAIL)</strong></font><br>
                <font size="3" style="font-family:verdana;">Namal University, 30KM, Talagang Road, <br>
                 Mianwali, Pakistan</font><br>
                <abbr title="Phone">Tel: </abbr>+92 459 236995 Ext. 126<br>
                <!-- Email: <a href="mailto:#">malik.jahan@namal.edu.pk</a> -->
            </address>
            
            </form>
							
						</div>
					</div>
				</div>
					</div>
           


		</section>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% FOOTER %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->		
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
	
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<p>Rural & Agriculture Informatics Lab - Namal Institute. All rights reserved &copy; 2018
                                                        
                                                        </p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

		<!-- load Js -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/lightbox.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/html5lightbox.js"></script>
		<script src="js/jquery.mixitup.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.scrollUp.js"></script>
		<script src="js/jquery.sticky.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>